
body {
background-image: url("images/background-image2.png");
background-size: cover;
height: 100vh;
}
      
  #heart{
    display: grid;
    width: 250px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 60px;
  }    

  /* SVG styling */

  /* svg{
    fill:#050505;
  } */
   .icon{
    fill:red;
   }

   .icon:hover{
    fill:rgb(255, 255, 255);
   }
      .cls-1 {
        fill: #050505;
      }

      .cls-2 {
        fill: #020202;
      }

      .cls-3 {
        fill: #ec1c24;
      }
      /* other styling */

      hr{
            border: 1.5px solid red;
      }
.card{
    width: 450px;
    height: 500px;
    background-color:#020202;
    border-style:solid;
    border-color: #ec1c24;
    border-width: 3px;
    position: relative;
    top: 30%;
   margin-left: 50%;
}
#instagram{
    margin-left:10px;
}
#linkedin{

    margin-right: 20px;
    transform:scale(.75)
}

.name-container{
    width: 100%;
margin: 0 auto;
text-align: center;
}

.icon-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width:100%;
    grid-gap: 1px;
    margin-left: 5%;
    align-items: center;
}
svg{
    width:150px;

/* fonts styling */
}
h1 {
    font-family: "dunbar-tall", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-shadow: 
    -2px -2px 0 #ec1c24,
     2px -2px 0 #ec1c24,
    -2px  2px 0 #ec1c24,
     2px  2px 0 #ec1c24,
    -2px  0px 0 #ec1c24,
     2px  0px 0 #ec1c24,
     0px -2px 0 #ec1c24,
     0px  2px 0 #ec1c24;

}
h2 {
    font-family: "dunbar-tall", sans-serif;
font-weight: 900;
font-style: normal;
font-size: 200px;
margin-top: 3px;
text-shadow: 
-2px -2px 0 rgb(255, 0, 0),
 2px -2px 0 rgb(255, 0, 0),
-2px  2px 0 rgb(255, 0, 0),
 2px  2px 0 rgb(255, 0, 0),
-2px  0px 0 rgb(255, 0, 0),
 2px  0px 0 rgb(255, 0, 0),
 0px -2px 0 rgb(255, 0, 0),
 0px  2px 0 rgb(255, 0, 0);
}

h3{
    font-family: "dunbar-tall", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    margin-top: 4px;
    color: #ec1c24;
    margin-left: 8%;
    margin-top: 6%;
}
/* mobile styling */
@media (max-width: 900px) { 
  
    
        h1 {
            font-size: 120px; 
        }
    
        h2 {
            font-size: 120px; 
        }
    
       
    
    }